    
   <div class="container-fluid fpd">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <h2 class="cercledoghead text-center">FOUND PET DETAILS</h2>
            <img class="img-fluid mx-auto d-block cercledog"  src="../../../assets/img/circledog.png">
          </div>
          <div class="col-md-12 red-logo-area">
            <img class="img-fluid mx-auto d-block redpetlogo"  src="../../../assets/img/redpetlogo.png">
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 form-col mx-auto">
            <form [formGroup]="FoundForm" (ngSubmit)="Found(FoundForm.value)" class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter Name" required>
                </div>
              </div>
              <div class="col-md-12">
                  <label for="name">Contact person name</label>
                  </div>
                  <div class="col-md-12">
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="firstname" id="name" placeholder="First Name" required>
                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" formControlName="lastname" id="name" placeholder="Last Name" required>
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="col-md-12">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" formControlName="email" id="name" placeholder="Email Address" required>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" class="form-control" formControlName="phoneno" id="name" placeholder="Phone Number" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">Address</label>
                      <input type="text" class="form-control" id="name" formControlName="address1" placeholder="Address Line1*" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="address2" id="name" placeholder="Address Line2*" required>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                            <select name="country" formControlName="country" class="countries form-control" id="countryId">
                             <option value="">Select Country</option>
                              </select>
                            </div>
                          </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <select name="state" formControlName="state" class="states form-control" id="stateId">
                            <option value="">Select State</option>
                        </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <select name="city" formControlName="city" class="cities form-control" id="cityId">
                              <option value="">Select City</option>
                          </select>
                          
                          </div>
                        </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input type="text" formControlName="pincode" class="form-control" id="zip" placeholder="zipcode">
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Date found details</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-group">
                       <input type="date" formControlName="foundDate" class="form-control" placeholder="Form">
                     </div>
                    </div>
                  </div>
                </div> 
               <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Location found details</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                   <div class="form-row">
                     <div class="col-md-3 col-lg-6">
                       <div class="form-group">
                       <input type="text" formControlName="foundLocation" class="form-control" placeholder="Area">
                     </div>
                     </div>
                     <div class="col-md-3 col-lg-6">
                        <div class="form-group">
                        <input type="text" formControlName="landmark" class="form-control" placeholder="Landmark">
                      </div>
                      </div>
                   </div>
                    </div>
                  </div>
                </div> 
                <div class="col-md-12">
                    <label for="reqments">Breed details</label>
                      <div class="form-row">
                        <div class="col-md-2">
                          <div class="form-group">
                              <div class="pictured-radio text-center">
                                <div class="form-check-inline">
                                    <div id="cn11">
                                        <img class="center-block" src="../../../assets/img/Icons/DogGreen.png" style="float: left;" height="35px;">
                                      </div>
                                      <!-- <div id="cn22" style="display: none;">
                                        <img class="center-block"  src="../../../assets/img/Icons/CatGreen.png" style="float: left;" height="35px;">
                                      </div> -->
                                      <!-- <div style="display: none;">
                                        <input type="checkbox" id="cn" />
                                      </div> -->
                                </div>                                         
                              </div>
                          </div>
                        </div>
                        <div  class="col-md-10 cat_inhouse">
                          <div class="form-row">
                            <div formArrayName="small_dog" *ngFor="let items of FoundForm.get('small_dog').controls;let ind=index;">
                              <div [formGroupName]="ind" style="display:flex;flex-direction:row;align-items:center">
                                 
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <select id="breed_gender_3" formControlName="Typeofpets" class="form-control">
                                      <option value="">Select Type of pet</option>
                                      <option value="small">Small</option>
                                     
            
                                    </select>
                                  </div>
                                </div>
                               
                              
                               
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <ng-multiselect-dropdown
                                          [placeholder]="'custom placeholder'"
                                          [data]="dropdownList1"
                                          formControlName="breed"
                                          [settings]="dropdownSettings"
                                          (onSelect)="onItemSelect($event)"
                                          (onSelectAll)="onSelectAll($event)"
                                        >
                                        </ng-multiselect-dropdown>
                                        </div>
                                      </div>
      
                                      
                              
                                <!-- <div class="col-md-4">
                                    <div class="form-group">
                                    <select  formControlName="gender" class="form-control">
                                      <option>Gender</option>
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                    </select>
                                  </div>
                                  </div> 
                                  <div class="col-md-2">
                                      <ng-container *ngIf="FoundForm.get('row_dynamic')?.controls?.length<=2">
                                          <button (click)="addField(ind)" class="btn-success btn-sm">+</button>
                                          </ng-container>
                                    <ng-container *ngIf="ind!=0">
                                      <button  (click)="removeField(ind)" class="btn-success btn-sm">- </button>
                                    </ng-container>
                              </div>  -->
                              </div>
                            </div>  
                          </div>

                          <div class="form-row">
                                  <div formArrayName="medium_dog" *ngFor="let items of FoundForm.get('medium_dog').controls;let ind=index;">
                                    <div [formGroupName]="ind" style="display:flex;flex-direction:row;align-items:center">
                                       
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <select id="breed_gender_3" formControlName="Typeofpets" class="form-control">
                                            <option value="">Select Type of pet</option>
                                            <option value="Medium">Medium</option>
                                           
                  
                                          </select>
                                        </div>
                                      </div>
                                     
                                    
                                     
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                <ng-multiselect-dropdown
                                                [placeholder]="'custom placeholder'"
                                                [data]="dropdownList2"
                                                formControlName="breed"
                                                [settings]="dropdownSettings"
                                                (onSelect)="onItemSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                              >
                                              </ng-multiselect-dropdown>
                                              </div>
                                            </div>
          
                                            
                                    
                                      <!-- <div class="col-md-4">
                                          <div class="form-group">
                                          <select  formControlName="gender" class="form-control">
                                            <option>Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                          </select>
                                        </div>
                                        </div> 
                                        <div class="col-md-2">
                                            <ng-container *ngIf="FoundForm.get('row_dynamic')?.controls?.length<=2">
                                                <button (click)="addField(ind)" class="btn-success btn-sm">+</button>
                                                </ng-container>
                                          <ng-container *ngIf="ind!=0">
                                            <button  (click)="removeField(ind)" class="btn-success btn-sm">- </button>
                                          </ng-container>
                                    </div>  -->
                                    </div>
                                  </div>
           
                                
                                
                                </div>

                                <div class="form-row">
                                <div formArrayName="large_dog" *ngFor="let items of FoundForm.get('large_dog').controls;let ind=index;">
                                  <div [formGroupName]="ind" style="display:flex;flex-direction:row;align-items:center">
                                     
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <select id="breed_gender_3" formControlName="Typeofpets" class="form-control">
                                          <option value="">Select Type of pet</option>
                                          <option value="large">Large</option>
                                         
                
                                        </select>
                                      </div>
                                    </div>
                                   
                                  
                                   
                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <ng-multiselect-dropdown
                                              [placeholder]="'custom placeholder'"
                                              [data]="dropdownList3"
                                              formControlName="breed"
                                              [settings]="dropdownSettings"
                                              (onSelect)="onItemSelect($event)"
                                              (onSelectAll)="onSelectAll($event)"
                                            >
                                            </ng-multiselect-dropdown>
                                            </div>
                                          </div>
        
                                          
                                  
                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                        <select  formControlName="gender" class="form-control">
                                          <option>Gender</option>
                                          <option value="Male">Male</option>
                                          <option value="Female">Female</option>
                                        </select>
                                      </div>
                                      </div> 
                                      <div class="col-md-2">
                                          <ng-container *ngIf="FoundForm.get('row_dynamic')?.controls?.length<=2">
                                              <button (click)="addField(ind)" class="btn-success btn-sm">+</button>
                                              </ng-container>
                                        <ng-container *ngIf="ind!=0">
                                          <button  (click)="removeField(ind)" class="btn-success btn-sm">- </button>
                                        </ng-container>
                                  </div>  -->
                                  </div>
                                </div>
         
                              
                              
                              </div>
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="col-md-2">
                            <div class="form-group">
                                <div class="pictured-radio text-center">
                                  <div class="form-check-inline">
                                      <div id="dog_ck11">
                                          <img class="center-block" src="../../../assets/img/Icons/CatGreen.png" style="float: left;" height="35px;">
                                        </div>
                                        <!-- <div id="dog_ck22" style="display: none;">
                                          <img class="center-block" src="../../../assets/img/Icons/DogGreen.png" style="float: left;" height="35px;">
                                        </div> -->
                                        <!-- <div style="display: none;">
                                          <input type="checkbox" id="dog_c"/>
                                        </div> -->
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div  class="col-md-10 cat_xyz">
                            <div class="form-row">
                              <div formArrayName="cat1" *ngFor="let items of FoundForm.get('cat1').controls;let ind=index;">
                                <div [formGroupName]="ind" style="display:flex;flex-direction:row;align-items:center">
                                   
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <input type="text" placeholder="Breed" formControlName="breed" class="form-control">
                                    </div>
                                  </div>                
                                
                                  <div class="col-md-4">
                                      <div class="form-group">
                                      <select  formControlName="gender" class="form-control">
                                        <option>Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                      </select>
                                    </div>
                                    </div> 
                                 
                                    <div class="col-md-2">
                                      <ng-container *ngIf="FoundForm.get('cat1')?.controls?.length<=2">
                                          <button (click)="addField(ind)" class="btn-success btn-sm">+</button>
                                          </ng-container>
                                    <ng-container *ngIf="ind!=0">
                                      <button  (click)="removeField(ind)" class="btn-success btn-sm">- </button>
                                    </ng-container>
                              </div> 
                                   
                                </div>
                              </div>
       
                            
                            
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                              <div class="form-group">
                                  <div class="pictured-radio text-center">
                                    <div class="form-check-inline">
                                        <div id="other_bt11">
                                            <img class="center-block" src="../../../assets/img/Icons/othersbtng.png" style="float: left;" height="65px;">
                                          </div>
                                          <!-- <div id="other_bt22" style="display: none;">
                                            <img class="center-block" src="../../../assets/img/Icons/othersbtng.png" style="float: left;" height="65px;">
                                          </div> -->
                                          <!-- <div style="display: none;">
                                            <input type="checkbox" id="other_btk"/>
                                          </div> -->
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div  class="col-md-10 cat_kbc">
                              <div class="form-row">
                                <div formArrayName="Other1" *ngFor="let items of FoundForm.get('Other1').controls;let ind=index;">
                                  <div [formGroupName]="ind" style="display:flex;flex-direction:row;align-items:center">
                                     
                                      <div class="col-md-2 col-lg-3">
                                          <div class="form-group">
                                           <input type="text" placeholder="Type of pets" formControlName="Typeofpets" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-2 col-lg-3">
                                            <div class="form-group">
                                                <input type="text" placeholder="Number of pets" formControlName="noofpets" class="form-control">
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                              <div class="form-group">
                                                <input type="text" id="breed_age_4" formControlName="breed" class="form-control" placeholder="Age"> 
                                              </div>
                                            </div>
                                        <div class="col-md-2">
                                          <div class="form-group">
                                            <select id="breed_gender_4" class="form-control" formControlName="gender" required>
                                              <option value="">Gender</option>
                                              <option>Male</option>
                                              <option>Female</option>
                    
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">
                                            <div class=" input-group mb-3">
                                              <input type="text" id="breed_age_4" formControlName="age" class="form-control" placeholder="Age">
                                            </div>
                                          </div>
                                        </div>
                       
                                      <div class="col-md-2">
                                          <ng-container *ngIf="FoundForm.get('Other1')?.controls?.length<=2">
                                              <button (click)="addField1(ind)" class="btn-success btn-sm">+</button>
                                              </ng-container>
                                        <ng-container *ngIf="ind!=0">
                                          <button  (click)="removeField1(ind)" class="btn-success btn-sm">- </button>
                                        </ng-container>
                                  </div> 
                                  </div>
                                </div>
         
                              
                              
                              </div>
                            </div>
                          </div>
                    </div>
              <!-- <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-8 pictured-radio text-center">
                        <label class="d-block text-left" for="name">Breed details</label>
                        <div class="form-check-inline">
                          <input type="radio" value="cat" class="form-check-input" id="catbtn" name="breed" required>
                        </div>
                        <div class="form-check-inline">
                          <input type="radio" value="dog" class="form-check-input" id="dogbtn" name="breed" required>
                        </div>
                       
                        <div class="form-check-inline">
                          <input type="radio" value="others" class="form-check-input" id="othersbtn" name="breed" required>
                        </div>
                      </div>
                      <div class="col-md-4 others">
                        <input type="text" class="form-control" id="others">
                      </div>
                        
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="age">Labradors</label>
                      <select class="form-control" id="age" required>
                        <option value="">Breed</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-12">
                  <div class="form-row">
                    <div class="col-md-4 col-lg-6">
                      <div class="form-group">
                        <label>Location Found</label>
                      </div>
                    </div>
                    <div class="col-md-6 form-row">
                        <div class="col-md-3 col-lg-6">
                          <div class="form-group">
                          <input type="text" class="form-control" placeholder="Area">
                        </div>
                        </div>
                        <div class="col-md-3 col-lg-6">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Landmark">
                          </div>
                          </div>
                      </div>
                     
                  </div>
                </div> -->
           
              <!-- <div class="col-md-12">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Requires medical attentions</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="switch">
                               <input type="checkbox" id="change_blk" value="0">
                                <div class="slider round">
                                  <span class="on">YES</span><span class="off">NO</span>
                                  </div>
                        
                              </label>
                        </div>
                      </div>
                  </div>
                </div> -->
                <div class="col-md-12">
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Requires medical attentions</label>
                            </div>
                           </div>
                            <div class="form-group col-md-6 col-lg-6 offset-md-2">
                                <label class="primary-switch switch" style="
                                float: left;">
                                    <input type="checkbox" formControlName="medical" id="change_blk1" value="0">
                                    <div class="slider round">
                                        <span class="on">YES</span><span class="off">NO</span>
                                      </div>
                                </label>
                              </div>
                              <div class="col-md-12 col-9" id="blk1" style="display: none">
                                    <div class="form-group">
                                        <div class="form-row">
                                      <div class="col-md-6">
                                        <label>What yo requires</label>
                                      </div>
                                      <div class="col-md-6">
                                       <input type=" text" formControlName="requires" class="form-control" placeholder=" What you required">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                               </div>
                
                <!-- <div class="col-md-12 col-9" id="blk" style="display: none;">

                    <div class="form-row">
                        <div class="col-md-2 col-lg-3 col-3">
                            <div class="form-group">
                             
                             
                                  
                            </div>
                            <div class="form-group">
                                <div class="form-group center-block">

                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="form-group center-block">
                                     
                                    </div>
                                 </div>
                               
                              <div class="form-group">
                                  <div class="form-group center-block">
                                     
                                    </div>
                                 
                                      
                                </div>
                              
                                 
                          </div>
                      <div class="col-md-2 col-lg-2 col-3">
                        <div class="form-group">
                         
                          <div class="form-group">
                          <input type="text" placeholder="INR"  class="form-control">
                          </div>
                          <div class="form-group">
                            <input type="text" placeholder="INR"  class="form-control">
                              </div>  
                              <div class="form-group">
                                  <input type="text" placeholder="INR"  class="form-control">
                                    </div>
                                  
                        </div>
                      </div>
                      <div class="col-md-2 col-lg-2 col-3">
                          <div class="form-group">
                            <div class="form-group">
                                <input type="text" placeholder="INR"  class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="INR"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="INR"  class="form-control">
                                          </div>
                          </div>
                        </div>
                        <div class="col-md-2 col-lg- col-3">
                            <div class="form-group">
                              <div class="form-group">
                                  <input type="text" placeholder="INR"  class="form-control">
                                  </div>
                                  <div class="form-group">
                                      <input type="text" placeholder="INR"  class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <input type="text" placeholder="INR"  class="form-control">
                                            </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-lg-3 col-3">
                              <div class="form-group">
                              
                                <div class="form-group">
                                    <input type="text" placeholder="INR"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="INR"  class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="INR"  class="form-control">
                                              </div>
                              </div>
                            </div>
                      </div>
                    
                  </div> -->
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="reqments">Terms and Conditions*</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" formControlName="Conditions" placeholder="Terms and Conditions" class="form-control"  >
                          </div>
                        </div>
                      </div>
                    </div>

            <div class="col-md-3 col-lg-3">
                <label>Upload your photos</label>
           </div>
                <div class="col-md-4 col-lg-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                          <span class="btn btn-warning" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                          <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;"
                           type="file" #image formControlName="image">
                        </span>
                        <span class="form-control"></span>
                      </div>
                 </div>
                 <div class=" col-md-3 col-lg-6">
                    <input type="textarea" formControlName="writehere" class="form-control" placeholder="Write Something here">
                  </div>
              <div class="col-md-12 redbtn text-center">
                <input id="submit" class="redbtn1" type="submit" name="">
                <input class="redbtn2" type="button" name="" value="Cancel">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
