<div class="container-fluid">
	<div id="slider-one" class="row">
		<div class="floater">
			<div class="sl">
				<img src="../../../assets/img/live/img/ram.jpg" class="animated">
			</div>
		</div>
		<div class="left-scroller">
			<i class="fas fa-angle-left"></i>
		</div>
		<div class="right-scroller">
			<i class="fas fa-angle-right"></i>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-md-12 px-0" style="margin-top: 1%">
		<div class="row main-head">
			<div class="col-md-3 px-0 text-left">
		<i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i><i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i><i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i>
	</div>
	<div class="col-md-9">
		<h3 class="text-right">PET FAMILY</h3>
	</div>
	</div>
</div>
</div>
<div class="container-fluid p-2 px-0" >
	<div class="col-md-12 px-0" style="margin-top: 1%;">
		<p style="margin-left: 1%;"><i class="fa fa-home" aria-hidden="true" style="color: red;font-size: 25px"></i>><a href="#" style="color: #414898">SERVICES </a>><a href="#" style="color: #414898">TRANSPORTATION </a>> PET FAMILY</p>
	</div>
</div>

<div class="container-fluid p-2">
	<div class="row" style="margin: 0">
		<div class="col-md-7">
			<h5>The Pet Family, <a style="color: #414898">Jubilee Hills,Hyderabad,Telangana State,India</a></h5>
			<p style="margin:3% 0">The Quater is a great place to hang out with your favourite pet. We provide all types of amenties.
			The Place where you can forget everything and relax along your pet. A great sea-view hotel with equally awesome weather rejuvenates you. Come have an amazing experience with us.</p>
						<div class="text-center">
							<h6>FACILTIES</h6>
							<img src="../../../assets/img/Icons/AirportPickupGreen.png" style="width: 5%">
							<p>Airport Pick up/ Drop services</p>
						</div>
			<div class="tnc">
				<p>Terms and conditions***</p>
				<p>The Quater is a great place to hang out with your favourite pet. We provide all types of amenties.
			The Place where you can forget everything and relax along your pet.</p>
				
			</div>

			 <button type="button" class="btn-pet">Click here to visit us and know more..</button>
		</div>
		<div class="col-md-5">
			<h5 class="text-center">Available(Date & Time)</h5>
			<div class="app">
    <div class="app__main">
			<div class="calendar">
					<div id="calendar"></div>
        </div>
    </div>
</div>
		</div>
	</div>

</div>

{{myData.name}}