.fpd{padding-top: 28px;}
.cercledoghead{margin: 35px 0 30px 0;font-size: 32px;}
.cercledog{width: 250px;}
.red-logo-area {padding: 90px 0 190px 0;border-left: 4px solid #fb0000;}
.form-col{max-width: 900px;}

.address-col-left .form-control{margin-bottom: 15px;}
#city{margin-top: 32px;}
.address-col-right .form-control{margin-bottom: 15px;}
.account input, .account select{margin-bottom: 15px}
.redbtn input{background: #fb0000;border: 0;border-radius: 3px;color: #fff;font-size: 37px;font-weight: 700;padding: 0px 45px 5px 45px;margin: 110px 30px;}
.redbtn input:hover{opacity: 0.7;}
input:focus{outline: none;}
@media only screen and (max-width: 767px) {
	.red-logo-area{padding: 40px 0;border-left: none;}
	.redbtn input{margin: 20px;font-size: 30px;}
}
.km
{
	padding-left: 18px;
}
.redbtn[_ngcontent-c3] input[_ngcontent-c3] {
    background: #fb0000;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 37px;
    font-weight: 700;
    padding: 0px 45px 5px 45px;
	margin: 33px 34px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
    
    .add_field_button{
        border-radius: 50%;
        background-color: green;
        border: 0px 2px 0px 2px;
        border-color: green;
        border-bottom: none;
      }
      .add_field_button1{
        border-radius: 50%;
        background-color: green;
        border: 0px 2px 0px 2px;
        border-color: green;
        border-bottom: none;
      }
      .add_field_button3{
        border-radius: 50%;
        height: 32px;
        background-color: green;
        border: 0px 2px 0px 2px;
        border-color: green;
        border-bottom: none;
      }
      .input-group-append{
        margin-left: 2px;
      }