<div class="container" style="padding-top: 5%;">
  <h2 style="text-align: center;font-size: 30px;margin: 15px">Contact us</h2>
  <p style="text-align: center;font-size: 18px;margin: 7px">Thank you for visiting us. Please fill in the below form for us to provide you quick and efficient services.</p>
  <p style="text-align: center;font-size: 18px;margin: 7px">If it is an urgent matter, please contact us on below details.</p>
  <h5>Address</h5>
    <p style="text-align: center;font-size: 18px;margin: 0px">M/s Pawclub</p>
    <p style="text-align: center;font-size: 18px;margin: 2px">A003,Spectra raintree, 41, Sakkamma Layout,</p>
    <p style="text-align: center;font-size: 18px;margin: 2px">st. Thomas Town, Lingarajapuram,</p>
    <p style="text-align: center;font-size: 18px;margin: 2px">Bengaluru-560084, Karnataka, India</p>
  <h5>Phone</h5>
    <p style="text-align: center;font-size: 18px;margin: 0px">+91-8800275111 / +91-9999647862</p>
   <h5>Email</h5>
    <p style="text-align: center;font-size: 18px;margin: 0 0 5% 0">ram@pawclub.in / smita@pawclub.in</p>
    <form action="" style="margin-bottom: 5%;">
 
     <input type="text" id="fname" name="firstname" placeholder="Enter name..">
 
 
     <input type="text" id="email" name="email" placeholder="Email">
 
     <input type="text" id="phone" name="phone" placeholder="Phone">
     <textarea name="message" rows="5" cols="5" placeholder="Remarks" ></textarea>
   
     <input type="submit" id="submit" value="Submit">
     <input type="submit" id="cancel" value="Cancel">
   </form>
 </div>
   
 
 