<div class="container acc">
	<div class="row">
		<div class="col-md-3 col-lg-4 ">
        <div class="">
            <img class="img-fluid mx-auto d-block cercledog" style="height: auto;
            width:84%;" src="../../../assets/img/accomodationser.png" class="rounded-circle">
        </div>
		     <div class="list-group ">
         
              
              <a href="#" class=" list-group-item-action">Account settting</a>
              <a href="#" class=" list-group-item-action">Pet Information</a>
              <a href="#" class=" list-group-item-action">Payment Method</a>
              <a href="#" class=" list-group-item-action">My Order</a>
              <a href="#" class=" list-group-item-action">Photos </a>
              <a href="#" class=" list-group-item-action">Reviews</a>
              <a href="#" class=" list-group-item-action">Change Password</a>
              <a href="#" class=" list-group-item-action">view Profile</a>
              <a href="#" class=" list-group-item-action">Sign Out</a>
              
            </div> 
		</div>
		<div class="col-md-9 col-lg-8">
        <div class="row">
            <div class="col-md-12">
            <h4 class="text-center" style="font-size: 40px;">Payment Method</h4>
                <hr>
            </div>
        </div>
		    <div class="card">
		        <div class="card-body">
                <h3 class="text-center" >Add a Card</h3>
		            <div class="row">
                  
		                <div class="col-md-6">
                        <h4>Card Information
                        
                      </h4>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-center"><p style="padding-left: 33px;"><img src="../../../assets/img/key.png" style="width: 18px; height: auto;">This card will be Successfully secured</p>
                          
                        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        
                      </h6>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form>
                              <div class="form-group row">
                                
                                <div class="col-md-12">
                                  <input id="username" name="username" placeholder="First Name*" class="form-control here" required="required" type="text" required>
                                </div>
                              </div>
                              <div class="form-group row">
                                
                                <div class="col-12">
                                  <input id=" lastname" name="name" placeholder="Last Name*" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                
                                <div class="col-6">
                                    <select class="form-control" id="accounttype" required>
                                        <option value="">Exp Month*</option>
                                        <option>T1</option>
                                        <option>T2</option>
                                      </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-control" id="accounttype" required>
                                        <option value="">Exp Year*</option>
                                        <option>T1</option>
                                        <option>T2</option>
                                      </select>
                                  </div>
                              </div>
                           
                              <h4>Mailing Address</h4>
                            
                             
                              <div class="form-group row">
                                 
                                <div class="col-12">
                                  <input id="email" name="email" placeholder="Address line*" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                 
                                  <div class="col-12">
                                    <input id="email" name="email" placeholder="Address line*" class="form-control here" required="required" type="text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                 
                                    <div class="col-12">
                                      <input id="email" name="email" placeholder="City*" class="form-control here" required="required" type="text">
                                    </div>
                                  </div>
                               
                                  <div class="form-group row">
                                 
                                      <div class="col-12">
                                          <select class="form-control" id="accounttype" required>
                                              <option value="">Country...</option>
                                              <option>T1</option>
                                              <option>T2</option>
                                            </select>
                                      </div>
                                    </div>

                                    <div class="form-group row">
                                
                                        <div class="col-6">
                                            <select class="form-control" id="accounttype" required>
                                                <option value="">State*</option>
                                                <option>T1</option>
                                                <option>T2</option>
                                              </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" id="accounttype" required>
                                                <option value="">ZipCode*</option>
                                                <option>T1</option>
                                                <option>T2</option>
                                              </select>
                                          </div>
                                             </div>
                                                
                              <div class="form-group row">
                                
                        <div class="col-md-12 redbtn text-center">
                            <input id="submit" class="redbtn1" type="submit" name="">
                            <input class="redbtn2" type="button" name="" value="Cancel">
                          </div>
                              </div>
                             
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>