<div class="container-fluid" style="position: relative;">
  <img src="../../../../assets/img/photography/2.jpg" class="hght">
  <h2 class="main-head">NGO</h2>
  <button type="button" class="btn-ngo">Donate Now</button>
  <div class="container pro">
    <div class="prog">

<div class="progress">

  <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%;color: black;background-color: #739cc8;font-size: 20px">
    Rs.30,000 Raised
  </div>
  <div class="progress-bar progress-bar-warning" role="progressbar" style="width:70%;color: black;background-color: white;font-size: 20px">
    Goal: Rs. 1,00,000
  </div>
  
</div>
</div>
</div>
</div>

<div class="container-fluid p-2">
<div class="col-md-12 px-0" style="margin-top: 5%;">
  <p style="margin-left: 1%"><i class="fa fa-home" aria-hidden="true" style="color: red;font-size: 25px"></i>><a href="#" style="color: #414898">SERVICES </a>><a href="#" style="color: #414898">NGO </a>> RAKSHAK</p>
</div>
</div>

<div class="container-fluid p-2">
<div class="row" style="margin: 0">
  <div class="col-md-7">
    <h5>Rakshak, <a style="color: #414898">Jubilee Hills,Hyderabad,Telangana State,India</a></h5>
    <p>Rakshak is a great place to hang out with your favourite pet. We provide all types of amenties.
    The Place where you can forget everything and relax along your pet. A great sea-view hotel with equally awesome weather rejuvenates you. Come have an amazing experience with us.</p>
    
    
  </div>
  <div class="col-md-5">
    <img src="../../../../assets/img/photography/2.jpg"  style="width: 25%;float: right;">
    <h4 class="pl-15">Chavi says thank you to <span>Mr.Vivek</span> for donating <span>Rs.1000 </span> for our cause</h4>
  </div>
</div>

</div>

<div class="container-fluid p-2">
<div class="col-md-12 px-0" style="margin-top: 1%;">
  <h5 style="margin-left: 1%">We require!!</h5>
  <div>
    <a class="a-style">Food</a>
    <a class="a-style">Medicine</a>
    <a class="a-style">Human Assistance</a>
    <a class="a-style">Donations</a>
  </div>
</div>
</div>
<div class="container">
<h5 class="text-center" style="margin:3%;">Gallery</h5>
  <div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <!-- <ul class="carousel-indicators mb-0 pb-0">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul> -->

      <!-- The slideshow -->
      <div class="carousel-inner no-padding my-5">
        <div class="carousel-item active">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/3.jpg">
             
            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top rounded-bottom" src="../../../assets/img/live/gallery/4.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top rounded-bottom" src="../../../assets/img/live/gallery/5.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/6.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/7.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/8.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/9.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/2.jpg">
            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/1.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon sp"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon sp"></span>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
<button type="button" class="btn-pet tex-center">Click here to visit us and know more..</button>
</div>
{{myData.name}}