<div class="container-fluid">
	<div id="slider-one" class="row">
		<div class="floater">
			<div class="sl">
				<img src="../../../assets/img/Services/img/5.jpg" class="animated">
			</div>
		</div>
		<div class="left-scroller">
			<i class="fas fa-angle-left"></i>
		</div>
		<div class="right-scroller">
			<i class="fas fa-angle-right"></i>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-md-12 px-0" style="margin-top: 1%">
		<div class="row main-head">
			<div class="col-md-3 px-0 text-left">
		<i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i><i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i><i class="fa fa-paw" aria-hidden="true" style="text-align: left;"></i>
	</div>
	<div class="col-md-9">
		<h3 class="text-right">PET FAMILY</h3>
	</div>
	</div>
</div>
</div>
<div class="container-fluid p-2 px-0" >
	<div class="col-md-12 px-0" style="margin-top: 1%;">
		<p style="margin-left: 1%;"><i class="fa fa-home" aria-hidden="true" style="color: red;font-size: 25px"></i>><a href="#" style="color: #414898">SERVICES </a>><a href="#" style="color: #414898">GROOMING </a>> PET FAMILY</p>
	</div>
</div>

<div class="container-fluid p-2">
	<div class="row" style="margin: 0">
		<div class="col-md-7">
			<h5>The Pet Family, <a style="color: #414898">Jubilee Hills,Hyderabad,Telangana State,India</a></h5>
			<p style="margin:3% 0">The Quater is a great place to hang out with your favourite pet. We provide all types of amenties.
			The Place where you can forget everything and relax along your pet. A great sea-view hotel with equally awesome weather rejuvenates you. Come have an amazing experience with us.</p>
						<div class="row" style="margin-bottom: 2%">
				<div class="col-md-12">
					<h6>
						TYPES OF SERVICES
					</h6>
					<div class="row">
				<div class="col-md-2 text-center img-style">
							<img src="../../../assets/img/Services/img/bath.png"  style="width: 25%"  >
							<p>Bath</p>
				</div>
				<div class="col-md-2 text-center img-style" >
							<img src="../../../assets/img/Services/img/haircut.png"   style="width: 25%" >
							<p>Hair Cut</p>
				</div>
				<div class="col-md-2 text-center img-style">
							<img src="../../../assets/img/Services/img/nail.png"  style="width: 25%"  >
							<p>Nail Cut</p>
				</div>
				<div class="col-md-2 text-center img-style">
							<img src="../../../assets/img/Services/img/styling.png"  style="width: 25%"  >
							<p>Styling</p>
				</div>
				<div class="col-md-2 text-center img-style">
							<img src="../../../assets/img/Services/img/spa.png"  style="width: 25%" >
							<p>Spa Services</p>
				</div>

			</div>
				</div>
				<div class="col-md-12">
					<h6>
						FACILITIES
					</h6>
					<div class="col-md-2 text-center img-style">
							<img src="../../../assets/img/Services/img/home.png"  style="width: 25%"  >
							<p>Home Services</p>
						</div>
				</div>
			</div>
			

			<!--  <button type="button" class="btn-pet">Click here to visit us and know more..</button> -->
		</div>
		<div class="col-md-5" style="margin: auto;">
			<div class="text-center" style="position: relative;">
				<h6 style="margin-bottom: 5%">AREAS OF SERVICES</h6>
				<img src="../../../assets/img/Services/img/radar.png" style="width: 25%" >
				  <div class="bottom-left">Sarakki Gate</div>
				  <div class="top-left">J P Nagar 1st Phase</div>
				  <div class="top-right">Banashankari 2nd Stage</div>
				  <div class="bottom-right">J P Nagar 1st Phase</div>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="padding: 0;margin: 5% 0">
		<div class="tnc">
				<p>Terms and conditions***</p>
				<p>The Quater is a great place to hang out with your favourite pet. We provide all types of amenties.
			The Place where you can forget everything and relax along your pet.</p>
				
			</div>
	</div>

</div>

