<div class="container-fluid" id="bg_color" style="text-align: center;">
	

	<div class="row" style="text-align: center">
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p style="font-family:'Yeon Sung', cursive;text-align: center;font-size:40px;padding-top: 8%;font-weight: bold;">PAW CLUB</p>
	
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p style="font-family:'Yeon Sung', cursive;text-align: center;font-size:30px;padding-top: 2%;font-weight: bold;">FORGOT PASSWORD?</p>
	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>We will email you a link to reset it</p>
			</div>
		</div><br><br>
		<form  #forgotForm="ngForm" (ngSubmit)="Forgot(forgotForm.value)">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<input type="mail" class="form-control reduce" name="email" ngModel placeholder="Enter Your Email">
			</div>
		</div>
		<div class="row" style="padding-bottom: 8%">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br><br><br>
				<button type="submit" class="btn btn-outline-primary btn-md" >Send Mail</button>
			</div>
		</div>
		
	</form>
</div>