<div class="container-fluid" id="h-banner-fluid">
  <div class="row">
    <div class="col-md-12 homebanner">
      <img width="100%" height="auto" src="../../../assets/img/live/pawbanner1.jpg">
      <div id="h-BannerAbs">
        <div id="h-BannerRel">
          <input type="list" name="searcher" placeholder="Search What You Want..." id="h-Searcher">
          <!--<span>FILTER</span>-->
          <button type="submit" id="h-SearchButton">SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="h-services-fluid">
  <div class="col-md-12 h-welcome-head">
    <h3 style="font-family: Montserrat,sans-serif;  font-size: 25px; color: #494848; /*  font-style: normal;    line-height: 0.5;    text-transform: none ;  letter-spacing: 0.5px;margin-bottom: 1%*/">Welcome
      to Pawclub</h3>
    <h4 style="color: #b7b7b7;">India’s Premier Pet Services Website</h4>
  </div>
</div>

<div class="container-fluid" id="h-services-fluid">
  <div class="row">
    <div class="col-md-12 h-service-head">
      <h3>Our Services</h3>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 h-service-content" style=" background-color: #8080800f;padding: 5% 0 1%;">
      <!--<div class="h-max-center row">
        <div class="h-srvice-imghead col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./img/accomodationser.png">
          <h2>Accommodation</h2>
        </div>
        <div class="h-srvice-imghead col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./img/petcareser.png">
          <h2>Pet Care</h2>
        </div>
        <div class="h-srvice-imghead col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./img/foodser.png">
          <h2>Food</h2>
        </div>
        <div class="h-srvice-imghead col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./img/foodser.png">
          <h2>NGO/ Donations </h2>
        </div>
        <div class="h-srvice-imghead col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./img/lostfoundser.png">
          <h2>Adoption/ Lost & Found</h2>
        </div>
      </div>-->
      <div class="h-max-center row">
        <div class="col-md-15 col-xs-3 text-center">
          <a routerLink="services/c-home-stay"><img src="../../../assets/img/live/accomodationser.png" style="margin-bottom:5%"></a>
          <h2>Accommodation</h2>
        </div>
        <div class="col-md-15 col-xs-3 text-center">
          <a routerLink="services/c-petcare"><img src="../../../assets/img/live/petcareser.png" style="margin-bottom:5%"></a>
          <h2>Pet Care</h2>
        </div>
        <div class="col-md-15 col-xs-3 text-center">
          <a routerLink="services/c-food"><img src="../../../assets/img/live/foodser.png" style="margin-bottom:5%"></a>
          <h2>Food</h2>
        </div>
        <div class="col-md-15 col-xs-3 text-center">
          <a routerLink="ngo"><img src="../../../assets/img/live/ngo.png" style="margin-bottom:5%"></a>
          <h2>NGO/ Donations </h2>
        </div>
        <div class="col-md-15 col-xs-3 text-center">
          <a routerLink="services/c-adoption"><img src="../../../assets/img/live/lostfoundser.png" style="margin-bottom:5%"></a>
          <h2>Adoption/ Lost & Found</h2>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid" id="h-services-fluid">
  <div class="row">
    <div class="col-md-12 h-work-head">
      <h3>How Does It Work</h3>
      <h4 style="color: #b7b7b7;">3 Easy Steps</h4>
    </div>
    <div class="container h-service-content" style="padding: 4% 0 1%;">
      <div class="h-max-center row">
        <div class=" col-md-4 text-center">
          <img src="../../../assets/img/live/reg.png" style="width: 20%;height: auto;">
          <h2 style="margin-top: 5%;margin-bottom: 5%">Register / login</h2>
          <div class="step1">1</div>
        </div>
        <div class="col-md-4 text-center">
          <img src="../../../assets/img/live/search.png" style="width: 20%;height: auto;">
          <h2 style="margin-top: 5%;margin-bottom: 5%">Search for a service</h2>
          <div class="step2">2</div>
        </div>
        <div class="col-md-4 text-center">
          <img src="../../../assets/img/live/book.png" style="width: 20%;height: auto;">
          <h2 style="margin-top: 5%;margin-bottom: 5%">Book and Relax!</h2>
          <div class="step3">3</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid" id="h-food-fluid">
  <div class="row">
    <div class="col-md-5 col-sm-5 h-food-dog">
      <img class="invisible-575" src="./img/homedog.png">
    </div>
    <div class="col-md-7 col-sm-7 h-food-content">
      <h3 class="h-food-h3">1000+<br>FOOD PRODUCTS</h3>
      <img class="visible-575" src="./img/homedogonly.png">
      <p class="h-food-p">Pet food is plant or animal material intended for consumption by pets. Typically sold in pet stores and supermarkets, it is usually specific to the type of animal, such as dog food or cat food. Most meat used for nonhuman animals is a byproduct ofthe human food industry, and is not regarded as "human grade".</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="h-happy-fluid">
  <div class="row">
    <div class="col-md-7 col-sm-7 h-happy-content">
      <h3 class="h-happy-h3">200+<br>HAPPY CUSTOMER</h3>
      <img class="visible-575" src="./img/homepuppyfriendsonly.png">
      <p class="h-happy-p">Pet food is plant or animal material intended for consumption by pets. Typically sold in pet stores and supermarkets, it is usually specific to the type of animal, such as dog food or cat food. Most meat used for nonhuman animals is a byproduct of the human food industry, and is not regarded as "human grade".</p>
    </div>
    <div class="col-md-5 col-sm-5 h-happy-dog">
      <img class="invisible-575" src="./img/homepuppyfriends.png">
    </div>
  </div>
</div>-->
<!-- disclaimer -->
<div id="home-disclaimer-fix">
  <div id="home-disclaimer-abs">
    <div id="home-disclaimer-inner-wrapper">
      <div id="home-disclaimer-yellow">
        <div id="home-disclaimer-yellow-head">
          <h2><span>YOU LOVE PETS<br>THEN YOU WILL LOVE</span></h2>
        </div>
        <img id="disclaimerlogo" src="../../../assets/img/live/petwhitelogo.png">
      </div>
      <div id="home-disclaimer-bottom">
        <p>SCROLL DOWN<br>TO ENTER INTO PETS WORLD</p>
        <img id="mousearrow" src="../../../assets/img/live/mousearrow.png">
      </div>
    </div>
  </div>
</div>

<!--Why Paw Club -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12 h-wpc-head">
      <h3>Why Paw Club</h3>
      <h4 style="color: #b7b7b7;">Varied Services</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style=" background-color: #8080800f;">
    <div class="col-md-4 mt2">

      <div class="icon-box icon-theme-colored benefit-icon tmedia text-right p-0 mb-sm-10 mt-30" style="height: 93px">
        <a routerLink="services/c-home-stay" class="icon icon-circled icon-md border-1px border-theme-colored pull-right flip ml-30 pl-0">
          <img src="../../../assets/img/live/WhyPawclub/HomeStay.png" alt="" style="width: 75px ;height: 75px;"> </a>
        <div class="media-body">
          <h4 class="media-heading heading">Home Stay</h4>
          <p style="text-align:justify;">Send your pet for a copy and comfortable stay at our home. We are dedicated
            pet parents who treat parents who treat every pet as part of our extended family.</p>
        </div>
      </div>

      <div class="icon-box icon-theme-colored benefit-icon tmedia text-right p-0 mb-sm-10 mt-30" style="height: 139px">
        <a routerLink="services/c-kennels" class="icon icon-circled icon-md border-1px border-theme-colored pull-right flip ml-30 pl-0">
          <img src="../../../assets/img/live/WhyPawclub/Kennels.png" alt="" style="width: 75px ;height: 75px;"> </a>
        <div class="media-body">
          <h4 class="media-heading heading">Kennels</h4>
          <p style="text-align:justify;">A "home away from home" is what your pet will woof home about !</p>
        </div>
      </div> 
    
      <div class="icon-box icon-theme-colored benefit-icon tmedia text-right p-0 mb-sm-10 mt-30" style="height: 93px">
        <a routerLink="services/c-grooming" class="icon icon-circled icon-md border-1px border-theme-colored pull-right flip ml-30 pl-0">
          <img src="../../../assets/img/live/WhyPawclub/Grooming.png" alt="" style="width: 75px ;height: 75px;"> </a>
        <div class="media-body">
          <h4 class="media-heading heading">Grooming</h4>
          <p style="text-align:justify;">Whether your pet needs a general grooming, a mini make over or wants to go for
            diva look...our team of professsional pet groomers are up for any challenge.</p>
        </div>
      </div>

      <div class="icon-box icon-theme-colored benefit-icon tmedia text-right p-0 mb-sm-10 mt-30" style="height: 93px">
        <a routerLink="services/c-swimming" class="icon icon-circled icon-md border-1px border-theme-colored pull-right flip ml-30 pl-0">
          <img src="../../../assets/img/live/WhyPawclub/swimmingpool.png" alt="" style="width: 75px ;height: 75px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading heading">Swimming</h4>
          <p style="text-align:justify;">Cool down your pet and stay active, swimming allows your pet to exercise
            without feeling restrained - it's good old fashioned fun!</p>
        </div>
      </div>
    </div>
    <!--<div class="col-md-1 mt-20">
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/HomeStay.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/Kennels.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/Grooming.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/swimmingpool.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
          </div>-->
    <div class="col-md-4 mt4">
      <img src="../../../assets/img/live/Labrador.png" alt="" style="width: 100%;height: auto">
    </div>
    <!--<div class="col-md-1 mt-20">
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/Dogwalking.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/Dogtraining.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/Transportation.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
            <div class="icon-box icon-theme-colored benefit-icon media text-right p-0 mb-sm-10 mt-30">
            <a href="#">
              <img src="img/WhyPawclub/PetPhotography.png" alt="" style="width: 100%;height: 100%"> </a>
            </div>
          </div>-->
    <div class="col-md-4 mt2">

      <div class="icon-box icon-theme-colored benefit-icon left media p-0 mb-sm-10 mt-30">
        <a routerLink="services/c-dog-walking" class="icon icon-circled icon-md border-1px border-theme-colored pull-left flip">
          <img src="../../../assets/img/live/WhyPawclub/Dogwalking.png" alt="" style="width: 75px ;height: 75px;"></a>
        <div class="media-body">
          <h4 class="media-heading heading">Dog Walking</h4>
          <p>Pressed for time and feeling guilty about missing out on walking your pet, put your worries to rest and
            let us go that extra mile for you.</p>
        </div>
      </div>

      <div class="icon-box icon-theme-colored benefit-icon left media p-0 mb-sm-10 mt-30">
        <a routerLink="services/c-trainer" class="icon icon-circled icon-md border-1px border-theme-colored pull-left flip">
          <img src="../../../assets/img/live/WhyPawclub/Dogtraining.png" alt="" style="width: 75px ;height: 75px;"></a>
        <div class="media-body">
          <h4 class="media-heading heading">Training</h4>
          <p>Our team of dog trainers use positive, dog friendly methods based on sound scientific principles to help
            your pet become a happy, sociable and well mannered pet.</p>
        </div>
      </div>

      <div class="icon-box icon-theme-colored benefit-icon left media p-0 mb-sm-10 mt-30">
        <a routerLink="services/c-transportation" class="icon icon-circled icon-md border-1px border-theme-colored pull-left flip">
          <img src="../../../assets/img/live/WhyPawclub/Transportation.png" alt="" style="width: 75px ;height: 75px;"></a>
        <div class="media-body">
          <h4 class="media-heading heading">Transportation</h4>
          <p>Whether relocating or getting from one place to another, we offer door to door transportation - your pet
            will enjoy every part of their trip with us.</p>
        </div>
      </div>

      <div class="icon-box icon-theme-colored benefit-icon left media p-0 mb-sm-10 mt-30">
        <a routerLink="services/c-pet-photography" class="icon icon-circled icon-md border-1px border-theme-colored pull-left flip">
          <img src="../../../assets/img/live/WhyPawclub/PetPhotography.png" alt="" style="width: 75px ;height: 75px;"></a>
        <div class="media-body">
          <h4 class="media-heading heading">Pet Photography</h4>
          <p>Capture your pet's character and frame it for a lifetime of memories. Pets make for interesting
            photographic subjects, dont they?</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid gallery-container">

  <div class="col-md-12 h-gallery-head">
    <h3>Gallery</h3>
    <h4 style="color: #b7b7b7;">Memories</h4>
  </div>

  <div class="tz-gallery">

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/1.jpg">
          <img src="../../../assets/img/live/gallery/1.jpg" style="width:100%;height:100%;" alt="Bridge">

        </a>

      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/2.jpg">
          <img src="../../../assets/img/live/gallery/2.jpg" style="width:100%;height:100%;" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/3.jpg">
          <img src="../../../assets/img/live/gallery/3.jpg" style="width:100%;height:100%;" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/4.jpg">
          <img src="../../../assets/img/live/gallery/4.jpg" style="width:100%;height:100%;" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/5.jpg">
          <img src="../../../assets/img/live/gallery/5.jpg" style="width:100%;height:100%;" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/6.jpg">
          <img src="../../../assets/img/live/gallery/6.jpg" style="width:100%;height:100%;" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/7.jpg">
          <img src="../../../assets/img/live/gallery/7.jpg" style="width:100%;height:100%;" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/8.jpg">
          <img src="../../../assets/img/live/gallery/8.jpg" style="width:100%;height:100%;" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" data-fancybox="gallery" href="../../../assets/img/live/gallery/9.jpg">
          <img src="../../../assets/img/live/gallery/9.jpg" style="width:100%;height:100%;" alt="Rails">
        </a>
      </div>

    </div>

  </div>

</div>

<!---testimonials--->
<div class="container-fluid">
  <div class="col-md-12 h-testimonials-head">
    <h3>Testimonials</h3>
    <h4 style="color: #b7b7b7;">What Our Clients Think About Us</h4>
  </div>
  <div id="testim" class=" container-fluid testim">
    <!--         <div class="testim-cover"> -->
    <div class="wrap">

      <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
      <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
      <ul id="testim-dots" class="dots">
        <li class="dot active"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
      </ul>
      <div id="testim-content" class="cont">

        <div class="active">
          <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
          <h2>Anusha</h2>
          <p>Pawclub is the need of time. In days where we see bad happening with your pet, they bring us services
            which we can't resist. </p>
        </div>

        <div>
          <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
          <h2>Sachin</h2>
          <p>I mean wow! We always have been worried about the type of services ever existed in our country and here
            they are to answer all our questions. Cheers!</p>
        </div>

        <div>
          <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
          <h2>Kavitha</h2>
          <p> We as pet parents are excited to see the range of services we can utilize and make the day for our pet.
            Thank you PawClub.</p>
        </div>

        <div>
          <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
          <h2>Basavaraj</h2>
          <p>Pet food is plant or animal material intended for consumption by pets.</p>
        </div>

        <div>
          <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
          <h2>Chethan</h2>
          <p>We as pet parents are excited to see the range of services we can utilize and make the day for our pet.
            Thank you PawClub.</p>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- <script src="https://use.fontawesome.com/1744f3f671.js"></script>   -->
<div class="container-fluid">
  <div class="col-md-12 h-lost-head">
    <h3>Lost/Found Pet</h3>
    <h3 style="color: #b7b7b7;">Need Help</h3>
  </div>
  <div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <!-- <ul class="carousel-indicators mb-0 pb-0">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul> -->

      <!-- The slideshow -->
      <div class="carousel-inner no-padding my-5">
        <div class="carousel-item active">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/3.jpg">
             
            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top rounded-bottom" src="../../../assets/img/live/gallery/4.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top rounded-bottom" src="../../../assets/img/live/gallery/5.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/6.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/7.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/8.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/9.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/2.jpg">
            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="text-center">
              <h6 style="color: #000;font-size:18px">Fluffy</h6>
              <h6 style="color: #000;font-size:18px">Poodle</h6>
              <h6 style="color: #000;font-size:18px">9900990099</h6>
            </div>
            <a href="#" onclick=abc(this) class="slider_info">
              <img class="img-fluid card-img-top" src="../../../assets/img/live/gallery/1.jpg">

            </a>
            <div class="text-center">
              <p style="margin: 0 10%">Pet food is plant or animal material intended for consumption by pets.</p>
            </div>

          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon sp"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon sp"></span>
      </a>
    </div>
  </div>
</div>