
* ,h1,h4,h5,h6{/*font-family: 'Fira Sans', sans-serif;*/font-size: 1rem;}
h3{font-family: Montserrat,sans-serif;font-size: 25px;color: #494848;}
p{font-size: 14px}
h2{font-size: 1.3rem}
/* body */
.homebanner{padding: 0;}
#h-BannerAbs{position: absolute;max-width: 80%; width: 720px;top: 54%;left: 50%;transform: translate(-50% , -50%);}
#h-BannerRel{position: relative;width: 100%;height: 100%;}
#h-Searcher{font-family: 'Fira Sans', sans-serif;font-weight: 500;font-size: 18px;width: 100%;border: 0;border-radius: 50px;padding: 15px 40px;text-align: center;}
#h-BannerRel span{position: absolute;font-family: 'Fira Sans', sans-serif;font-weight: 500;font-size: 17px;border: 0;border-top-right-radius: 50px;border-bottom-right-radius: 50px;padding: 15px 37px;right: 0;background: #cece3b;top: 0;height: 100%;color: #3c3535;}
#h-SearchButton{font-family: 'Fira Sans', sans-serif;font-weight: 500;font-size: 21px;color: #fff;position: absolute;top: 80px;left: 50%;transform: translatex(-50%);background: #e00b0b;border: 0;border-radius: 50px;padding: 15px 45px;}
button:focus, input:focus, textarea:focus, select:focus {outline: none;}
button:hover{cursor: pointer;}
.h-service-head{font-weight: 500;font-size: 25px;color: #000;text-align: center;padding: 2% 0 1% 0;margin: 0;}/* change */
.h-welcome-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 2% 0 2% 0;
    margin: 0;
}
.h-work-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 2% 0 0% 0;
    margin: 0;
}
.h-wpc-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 4% 0 2% 0;
    margin: 0;
}
.h-gallery-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 2% 0 2% 0;
    margin: 0;
}
.h-testimonials-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 0% ;
    margin: 0;
}
.h-lost-head {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 6% 0 4% 0;
    margin: 0;
}
.h-srvice-imghead img{max-width: 100%;border-radius: 50%;border:1px solid #000;display: block; margin: 0 auto;}/* change */
.h-srvice-imghead h2{font-weight: 500;text-align: center;font-size: 21px;color: #000;padding-top: 25px;margin-bottom: 50px;}/* change */
#h-food-fluid{padding-top: 100px;}/* change */
.h-food-dog{padding-left: 0;}
.visible-575{display: none;}
.invisible-575{display: block;}
.h-food-dog img{width: 93%;}
.h-food-h3{color: #fa5a49;text-align: center;padding-top: 17px;font-size: 30px;font-weight: 600;letter-spacing: 1.25px;}
.h-food-p {color: #727272;text-align: justify;padding: 0 50px;font-size: 20px;padding-top: 50px;}
#h-happy-fluid{padding-top: 19px;padding-bottom: 75px;}
.h-happy-h3{color: #fa5a49;text-align: center;padding-top: 157px;font-size: 30px;font-weight: 600;letter-spacing: 1.25px;}
.h-happy-p {color: #727272;text-align: right;padding: 0 75px;font-size: 20px;padding-top: 50px;}
.h-happy-dog {padding-right: 0;}
.h-happy-dog img {width: 100%;}
										/*	disclaimer  */
#home-disclaimer-fix{display:none;position: fixed;background: #fff;z-index: 99999;top: 0;right: 0;left: 0;bottom: 0;}
#home-disclaimer-abs{position: absolute;width: 80%;height: 80%;top: 10%;left: 10%;background: #999;background-image: url();background-size: cover;background-position: center;}
#home-disclaimer-inner-wrapper {width: 100%;height: 100%;}
#home-disclaimer-yellow{background-color:rgba(255, 237, 0, .21); display: flex;width: 100%;height: 60%;flex-direction: column;}
#home-disclaimer-yellow-head{margin-top: auto;text-align: center;width: 100%;}
#home-disclaimer-yellow h2{display: inline-block;margin: 0;padding: 5px 40px;background: rgba(255, 255, 0, .67);border-radius: 25px;max-width: 85%;}
#home-disclaimer-yellow span{font-size: 30px;}
#disclaimerlogo{margin: 5px auto 5px auto;width: fit-content;max-width: 90%;}
#home-disclaimer-bottom{display: flex;width: 100%;height: 40%;text-align: center;flex-direction: column;}
#home-disclaimer-bottom p{font-size: 14px;color: #fff;margin: auto auto 0 auto;}
#mousearrow{margin: 15px auto 25px auto;width: 40px;}
										/*	disclaimer over  */

@media only screen and (max-width: 1199px){
	.h-happy-dog {align-items: center;display: flex;}
}
@media only screen and (max-width: 991px){
	.h-service-head {padding: 35px 0;font-family: Montserrat,sans-serif;}
	#h-food-fluid {padding-top: 50px;}
	.h-food-p {padding: 0 10px;font-size: 18px;padding-top: 0px;}
	.h-food-h3 {padding-top: 7px;font-size: 25px;}
	.h-happy-p {padding: 0 10px;font-size: 18px;padding-top: 0px;text-align: justify;text-align-last: center;}
	.h-happy-h3 {padding-top: 80px;font-size: 25px;}
}
@media only screen and (max-width: 767px){
	#h-Searcher {font-size: 14px;font-weight: 400;padding: 10px 25px;}
	#h-BannerRel span{padding: 10px 25px;font-size: 14px;font-weight: 400;}
	#h-SearchButton {font-weight: 400;font-size: 14px;padding: 10px 25px;top: 60px;}
	.h-food-h3 {padding-top: 0;font-size: 21px;letter-spacing: normal;}
	.h-food-p {color: #000;font-size: 14px;}
	.h-happy-h3 {padding-top: 40px;font-size: 21px;letter-spacing: normal;}
	.h-happy-p {color: #000;font-size: 14px;}
}
@media only screen and (max-width: 575px){
	.visible-575{display: block;width: 300px;max-width: 100%; margin: 20px auto;}
	.invisible-575{display: none;}
}
@media only screen and (max-width: 399px){
	#h-Searcher {font-size: 10px;padding: 5px 15px;}
	#h-BannerRel span {padding: 5px 15px;font-size: 10px;display: inline-table;margin-top: 2px;}
	#h-SearchButton {font-size: 10px;padding: 5px 15px;top: 35px;}
}
/* body over */

/* footer */
/*footer {background-image: url('./img/footerdog.png');background-size: cover;background-position: center center;}
#FootNav{font-family: 'Fira Sans', sans-serif;width: 100%;background: transparent !important;padding-top: 117px;}
#FootNav.navbar-dark .navbar-nav .nav-link{font-size: 22px;}
#FootNav.navbar-dark .navbar-nav .active>.nav-link{color: #ffeb5b;}
#FootNav.navbar-expand-md .navbar-nav .nav-link {padding-right: 1rem;padding-left: 1rem;}
#FootNav ul li.dropdown:hover div.dropdown-menu{ display: block; }
#FootNav .dropdown-item:focus, .dropdown-item:hover {color: #fff;background: #1b09eb;}
#FootNav .dropdown-item {padding: .001rem 1.5rem;}
#FootNav .navbar-noncollapse {display: -ms-flexbox!important;display: flex!important;-ms-flex-preferred-size: auto;flex-basis: auto;}
#FootNav ul li.dropdown div.dropdown-menu {position: absolute;margin-left: 16px;margin-top: -5px;}
.footer-social{width: 100%;text-align: center;padding: 0;margin: 35px 0 0 0;}
.footer-social li{width: 41px;height: 41px;border-radius: 50%;display: inline-block;list-style-type: none;overflow: hidden;margin-right: 5px;}
.footer-social li a{display: block; width: 100%;height: 100%;text-align: center;color: #fff;}
.footer-social li a:hover{text-decoration: none;}
.footer-social li a i{display: block; width: 100%;height: 100%;font-size: 18px;padding-top: 10px;color:#fff;}
.footer-social li a .fa-linkedin-in{background: #004090;}
.footer-social li a .fa-google-plus-g{background: #ee1f3e;}
.footer-social li a .fa-facebook-f{background: #2a83f0;}
.footer-social li a:hover .fa-linkedin-in{color: #004090;background: #fff;}
.footer-social li a:hover .fa-google-plus-g{color: #ee1f3e;background: #fff;}
.footer-social li a:hover .fa-facebook-f{color: #2a83f0;background: #fff;}
.footer-p{color: #fff;font-weight: 500;text-align: center;width: 100%;margin-top: 22px;margin-bottom: 52px;}*/
@media only screen and (max-width: 991px){
	#FootNav {padding-top: 30px;}
	#FootNav.navbar-dark .navbar-nav .nav-link {font-size: 16px;}
}
@media only screen and (max-width: 767px){
	#FootNav .navbar-nav{text-align: center;}
	#FootNav ul li.dropdown div.dropdown-menu {margin-left: 0;}
}
/* Footer */
.text-theme {
    color: #108896 !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.p-0 {
    padding: 0!important;
}
.container-fluid.gallery-container {
    background-color: #fff;
    color: #35373a;
    /*min-height: 100vh;*/
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    /* font-family: 'Glyphicons Halflings'; */
    /* content: '\e003'; */
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

/* Click the image one by one to see the different layout */

/* Owl Carousel */

.owl-prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  left: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  right: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.5;
}

/* Owl Carousel */

/* Popup Text */

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.popuptext {
  display: table;
}
.popuptext p {
  margin-bottom: 10px;
}
.popuptext span {
  font-weight: bold;
  float: right;
}
/* Popup Text */

/* Icon CSS */
.item {
  position: relative;
  margin-bottom: 20%;
}
.item i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.item a {
  display: block;
  width: 100%;
}

.testim {
    width: 100%;
    /*position: absolute;
    top: 50%;*/
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
    margin-top: 15%;
    margin-bottom:-13%;
    background-color: #8080800f;
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}
    
.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #ea830e;
    border-color: #ea830e;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    
.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    
.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #ea830e;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #000;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }
  
  .testim .cont div p {
    line-height: 25px;
  }

}

/*.icon-box .icon.icon-md {
    height: 75px;
    width: 75px;
}*/
.icon-box {
    margin-bottom: 30px;
}

@font-face {
  font-family: Montserrat;
  src: url(../../../assets/font/Montserrat-Black.otf);
}

.mt2{margin-top: 2% !important;}
.mt4{margin-top: 4% !important;}
.mr4{margin-right: 4% !important}
.step1{border-radius: 50%;
    border: 4px solid grey;
    width: 8%;
    height: 15%;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 0.5%;
   }
.step2{border-radius: 50%;
    border: 4px solid grey;
    width: 8%;
    height: 15%;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    padding-top: 0.5%;
    }
.step3{border-radius: 50%;
    border: 4px solid grey;
    width: 8%;
    height: 15%;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 0.5%;
    }
.h-max-center{
    margin-right: 0px;
    margin-left: 0px;
}

select:focus option.holder {
  display: none;
  }

 .modal-content h4{
  text-align: center !important;
  margin-top: 10% !important;
  color: #f55a4e !important;
  font-weight: 10px !important;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
  margin-left: 470px;
  margin-top: -190px;
  color: #f55a4e;
  
}

#create_button{
  text-align: center;
  border-radius: 50px;
  border: 2px solid #f55a4e;
  display: block;
  margin: auto;
  
}

#fb_btn{
  height:40px;
  width:40px;
  margin-left: 200px;
}

#google_btn{
 height:40px;
 width:40px;
 margin-left:-10px;
}

.title-description a {
    color: #f55a4e;
}

label .labelcss{
    color: #3C4857;
    font-weight: 300;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    display: inline-block;
  font-size: 13px;
  margin-left: 10px;
}
#question{
  font-size: 13px;
}

#login_button{
  text-align: center;
  border-radius: 50px;
  border: 2px solid #f55a4e;
  display: block;
  margin: auto;
  width: 100px;

}

#close_btn {
    cursor: pointer;
    margin-left: 470px;
  margin-top: -150px;
  color: #f55a4e;
}

ul.list-border li a:hover {
    color: orange !important;
}

.col-sm-11.col-md-11.foothover a:hover {
    color: orange !important;
}
a:hover i.fa-facebook{color: #065887;}
a:hover i.fa-twitter{color: #3ee6e0;}
a:hover i.fa-instagram{color: #f00;}
a:hover i.fa-youtube{color: red;}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato";
    background: url('https://subtlepatterns.com/patterns/sativa.png');
  }
  
  .main-gallery {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-top: solid 10px #7AA641;
  
  }
  
  .gallery-cell {
    width: 100%;
  }
  
  .testimonial {
    text-align: center;
    max-width: 850px;
    margin: 100px auto 130px auto;
    padding: 0 20px;
  }
  
  .testimonial-avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .testimonial-quote {
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0;
  }
  
  .testimonial-author {
    display: block;
    font-weight: 800;
    color: #7AA641;
  }
  
  .flickity-page-dots {
    bottom: 25px;
  }
  
  .flickity-page-dots .dot.is-selected {
    background: #7AA641;
  }
  /* lost found */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#b7b7b7;
    opacity: 1; /* Firefox */
}
/* css carousel */

/* round circle hover for ourservices */
.col-md-15.col-xs-3.text-center img {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.col-md-15.col-xs-3.text-center img:hover{
    border: 3px solid black;
}

/* carousel */
.col-md-4{
    display: inline-block;
    /* margin-left:-10px; */
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }
    
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   position: relative;
   bottom: -25px;
   right: 70px;
  }
  
  span.carousel-control-next-icon {
   position: relative;
   bottom: -25px;
   right: -21px;
  }

  .h-lost-head[_ngcontent-c3] {
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-align: center;
    padding: 3% 0 0% 0;
    margin: 0;
  }

  .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: FontAwesome;
    content: '\f002';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}