 



<div class="container-fluid">
  <div class="row left-dog">
    <div class="col-md-12 px-0">
      <h2 class="main-head">PET CARE</h2>
    </div>
    <div class="col-md-7">
    </div>
    <div class="col-md-5 blue-wrap">
      <div class="row m-0 blue-shade">
        <a class="col-md-6 navname-a"  routerLink="/services/c-grooming"><img class="nav-img" src="../../../assets/img/n1.png"><span class="navname-span">Pets Grooming</span></a>
        <a class="col-md-6 navname-a" routerLink="/services/c-dog-walking"><img class="nav-img" src="../../../assets/img/n2.png"><span class="navname-span">Dog Walking</span></a>
        <a class="col-md-6 navname-a" routerLink="/services/c-transportation"><img class="nav-img" src="../../../assets/img/n3.png"><span class="navname-span">Transportation</span></a>
        <a class="col-md-6 navname-a"  routerLink="/services/c-swimming"><img class="nav-img" src="../../../assets/img/n4.png"><span class="navname-span">Swimming</span></a>
        <a class="col-md-6 navname-a" routerLink="/services/c-trainer"><img class="nav-img" src="../../../assets/img/n5.png"><span class="navname-span">Trainer</span></a>
        <a class="col-md-6 navname-a"  routerLink="/services/c-photography"><img class="nav-img" src="../../../assets/img/n6.png"><span class="navname-span">Photography</span></a>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet> 