<footer id="footer" class="footer bg-black-111">

	<div class="container pt-40 pb-0">
		<div class="row border-bottom-black">
			<div class="col-sm-6 col-md-6">
				<div class="widget dark">
					<a href="./index.html"><img class="mt-10 mb-20" alt="" src="../../../assets/img/live/petwhitelogo.png" style="max-width: 100%;height: auto;"></a>
					<!--<ul class="list-inline mt-5">
									<li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr4"></i> <a class="text-gray" href="#" style="color:grey;text-decoration: none">M/s Pawclub, A003,Spectra raintree, 41, Sakkamma Layout, st. Thomas Town, Lingarajapuram, Bengaluru-560084, Karnataka, India</a> </li>
									<li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr4"></i> <a class="text-gray" href="#" style="color:grey;text-decoration: none">+91-8800275111 / +91-9999647862</a> </li>
									<li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr4"></i> <a class="text-gray" href="#" style="color:grey;text-decoration: none">ram@pawclub.in / smita@pawclub.in</a> </li>
							</ul>-->
					<div class="row mt-4">
						<div class="col-sm-1 col-md-1 m-0 pl-10 pr-10 text-right">
							<i class="fa fa-map-marker text-theme-colored mr4"></i>
						</div>
						<div class="col-sm-11 col-md-11 foothover">
							<a class="text-gray" href="#" style="color:grey;text-decoration: none">M/s Pawclub, A003,Spectra raintree, 41,
								Sakkamma Layout, st. Thomas Town, Lingarajapuram, Bengaluru-560084, Karnataka, India</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-1 col-md-1 m-0 pl-10 pr-10 text-right">
							<i class="fa fa-phone text-theme-colored mr4"></i>
						</div>
						<div class="col-sm-11 col-md-11 foothover">
							<a class="text-gray" href="#" style="color:grey;text-decoration: none">+91-8800275111 / +91-9999647862</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-1 col-md-1 m-0 pl-10 pr-10 text-right">
							<i class="fa fa-envelope-o text-theme-colored mr4"></i>




						</div>
						<div class="col-sm-11 col-md-11 foothover">
							<a class="text-gray" href="#" style="color:grey;text-decoration: none">ram@pawclub.in / smita@pawclub.in</a>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-2 col-md-2 col-xs-4">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">Useful Links</h5>
					<div style="height: 1px;width:50%;color:#F19F1F"></div>
					<ul class="list-border" style=" list-style: none;   margin: 0;   padding: 0;">
						<li><a href="" style="color:grey;text-decoration: none">Home</a></li>
						<li><a href="" style="color:grey;text-decoration: none">About us</a></li>
						<li><a href="" style="color:grey;text-decoration: none">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2 col-md-2 col-xs-4">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">Other Links</h5>
					<ul class="list-border" style=" list-style: none;   margin: 0;   padding: 0;">
						<li><a href="" style="color:grey;text-decoration: none">Terms Of Refund</a></li>
						<li><a href="" style="color:grey;text-decoration: none">Privacy Policy</a></li>
						<li><a href="./terms&conditions.html" style="color:grey;text-decoration: none">Terms and conditions</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2 col-md-2 col-xs-4">
				<div class="widget dark">
					<h5 class="widget-title mb-10">Connect With Us</h5>
					<ul class="styled-icons icon-dark icon-circled icon-sm " style="list-style: none;    margin: 0;   padding: 0;">
						<li><a href="#" style="color:grey;text-decoration: none;margin-right: 12%;margin-left: 12%;"><i class="fa fa-facebook"></i></a>
							<a href="#" style="color:grey;text-decoration: none"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" style="color:grey;text-decoration: none;margin-right: 12%;margin-left: 12%;"><i class="fa fa-youtube"></i></a><a
							 href="#" style="color:grey;text-decoration: none"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
		<p class="font-13 text-black-777 m-0" style="color:#fff;font-size: 12px;">Copyrights &copy;
			<script type="text/javascript">
				var d = new Date();
				var year = d.getFullYear();
				document.write(year); 
			</script> PawClub. All rights reserved</p>
	</div>
	<!--<div class="footer-bottom bg-black-222">
			<div class="container pt-10 pb-0">
					<div class="row">
							<div class="col-md-6 sm-text-center">
									<p class="font-13 text-black-777 m-0">Copyright ©2018 ThemeMascot. All Rights Reserved</p>
							</div>
							<div class="col-md-6 text-right flip sm-text-center">
									<div class="widget no-border m-0">
											<ul class="styled-icons icon-dark icon-circled icon-sm">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-skype"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
											</ul>
									</div>
							</div>
					</div>
			</div>
	</div>-->
	<!-- <div class="left">
	<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
	</div> -->
</footer>
<!--  footer over -->




<!-- 	 
	<footer class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="FootNav">
				<div class="col-md-12">
				  <div class="noncollapse navbar-noncollapse" id="noncollapsibleNavbar">
				    <ul class="navbar-nav ml-auto mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" routerLink='/home'>Home</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown1" data-toggle="dropdown">Accomodation</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-home-stay'>Home Stay</a>
					        <a class="dropdown-item" routerLink='/services/c-kennels'>Kennels</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown2" data-toggle="dropdown">Petcare</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-grooming'>Grooming</a>
					        <a class="dropdown-item" routerLink='/services/c-swimming'>Swimming</a>
					        <a class="dropdown-item" routerLink='/services/c-dog-walking'>Dog Walking</a>
					        <a class="dropdown-item" routerLink='/services/dog-tv-rainer'>Training</a>
					        <a class="dropdown-item" routerLink='/services/c-transportation'>Transportation</a>
					        <a class="dropdown-item" routerLink='/services/c-pet-photography'>Pet Photography</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown3" data-toggle="dropdown">Adoption/Lost & Found</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-ngo'>NGO</a>
					        <a class="dropdown-item" routerLink='/services/c-donation'>Wishlist</a>
									<a class="dropdown-item" routerLink='/services/c-donation'>Rental & Donation</a>
									<a class="dropdown-item" routerLink='/services/c-account-setting'>Account</a>
					      </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink='/about-us'>About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink='/open-forum'>Open Forum</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" routerLink='/contact-us'>Contact Us</a>
								</li>
				    </ul>
				  </div>
				</div>
			</nav>
			<ul class="footer-social">
				<li><a routerLink="#"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a routerLink="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a routerLink="#"><i class="fab fa-facebook-f"></i></a></li>
			</ul>
			<p class="footer-p">Copyrights &copy; 2018PawClub. All rights reserved</p>
		</div>
	</footer> -->
<!-- 	
	<footer class="text-light">
			<div class="container">
					<div class="row">
							<div class="col-md-3 col-lg-4 col-xl-3">
									<h5>About</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<p class="mb-0">
											Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
									</p>
							</div>
	
							<div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
									<h5>Informations</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<ul class="list-unstyled">
											<li> <a class="dropdown-item" routerLink='/services/c-ngo'>NGO</a></li>
											<li><a href="">Link 2</a></li>
											<li><a href="">Link 3</a></li>
											<li><a href="">Link 4</a></li>
									</ul>
							</div>
	
							<div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
									<h5>Others links</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<ul class="list-unstyled">
											<li><a href="">Link 1</a></li>
											<li><a href="">Link 2</a></li>
											<li><a href="">Link 3</a></li>
											<li><a href="">Link 4</a></li>
									</ul>
							</div>
							<div class="col-md-4 col-lg-3 col-xl-3">
									<h5>open-forum</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<ul class="list-unstyled">
											<li><i class="fa fa-home mr-2"></i> My company</li>
											<li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
											<li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
											<li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
									</ul>
							</div>
								<div class="col-md-4 col-lg-3 col-xl-3">
									<h5>open-forum</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<ul class="list-unstyled">
											<li><i class="fa fa-home mr-2"></i> My company</li>
											<li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
											<li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
											<li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
									</ul>
							</div>
							<div class="col-md-4 col-lg-3 col-xl-3">
									<h5>Contact</h5>
									<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
									<ul class="list-unstyled">
											<li><i class="fa fa-home mr-2"></i> My company</li>
											<li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
											<li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
											<li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
									</ul>
							</div>
							<div class="col-12 copyright mt-3">
									<p class="float-left">
											<a href="#">Back to top</a>
									</p>
									<p class="footer-p">Copyrights &copy; 2018PawClub. All rights reserved</p>
							</div>
					</div>
			</div>
	</footer> -->